<form name="formHolder.doc_type" autocomplete="off" novalidate>
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group">
				<label>Department Type</label>
				<div class="position-relative has-icon-left">
					<input type="text" class="form-control square" placeholder="Document Type" name="document_type" ng-class="{'border-danger': formHolder.doc_type.document_type.$touched && formHolder.doc_type.document_type.$invalid}" ng-model="doc_type.document_type" required>
					<span class="help-block danger" ng-show="formHolder.doc_type.document_type.$touched && formHolder.doc_type.document_type.$invalid">Department Type is required</span>
					<div class="form-control-position">
						<i class="icon-android-create"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group">
				<label>Short Name</label>
				<div class="position-relative has-icon-left">
					<input type="text" class="form-control square" placeholder="Shortname" name="shortname" ng-class="{'border-danger': formHolder.doc_type.shortname.$touched && formHolder.doc_type.shortname.$invalid}" ng-model="doc_type.shortname" required>
					<span class="help-block danger" ng-show="formHolder.doc_type.shortname.$touched && formHolder.doc_type.shortname.$invalid">Shortname is required</span>
					<div class="form-control-position">
						<i class="icon-social-reddit"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<button class="btn btn-info float-lg-right" ng-click="app.staff_assign.add(this)"><i class="icon-plus3"></i></button>
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group">
				<label>Staff Assign</label>
				<div class="input-group">
				<span class="input-group-addon"><i class="icon-user"></i></span>
					<input type="text" class="form-control square" placeholder="Name">
					<span class="input-group-addon"><i class="icon-remove"></i></span>
				</div>
			</div>
		</div>
	</div>
</form>