<form name="formHolder.doc_type" autocomplete="off" novalidate>
	<div class="row">
		<div class="col-lg-12">
			<button class="btn btn-secondary float-lg-right" ng-click="app.edit(this)"><i class="icon-edit2" ng-class="{'icon-edit2': controls.ok.btn, 'icon-ban': !controls.ok.btn}"></i></button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group">
				<label>Department Type</label>
				<div class="position-relative has-icon-left">
					<input type="text" class="form-control square" name="document_type" ng-class="{'border-danger': formHolder.doc_type.document_type.$touched && formHolder.doc_type.document_type.$invalid}" ng-model="doc_type.document_type" ng-disabled="controls.ok.btn" required>
					<span class="help-block danger" ng-show="formHolder.doc_type.document_type.$touched && formHolder.doc_type.document_type.$invalid">Department Type is required</span>
					<div class="form-control-position">
						<i class="icon-pencil3"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group">
				<label>Short Name</label>
				<div class="position-relative has-icon-left">
					<input type="text" class="form-control square" name="shortname" ng-class="{'border-danger': formHolder.doc_type.shortname.$touched && formHolder.doc_type.shortname.$invalid}" ng-model="doc_type.shortname" ng-disabled="controls.ok.btn" required>
					<span class="help-block danger" ng-show="formHolder.doc_type.shortname.$touched && formHolder.doc_type.shortname.$invalid">Shortname is required</span>
					<div class="form-control-position">
						<i class="icon-pencil3"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group">
				<label>Transaction</label>
				<div class="position-relative has-icon-left">
					<select class="form-control square" name="transaction_id" ng-class="{'border-danger': formHolder.doc_type.transaction_id.$touched && formHolder.doc_type.transaction_id.$invalid}" ng-model="doc_type.transaction_id" ng-options="t.transaction for t in transactions track by t.id" ng-disabled="controls.ok.btn" required></select>
					<span class="help-block danger" ng-show="formHolder.doc_type.transaction_id.$touched && formHolder.doc_type.transaction_id.$invalid">Transaction is required</span>
					<div class="form-control-position">
						<i class="icon-pencil3"></i>
					</div>					
				</div>
			</div>
		</div>
	</div>	
	<hr>
	<div class="row">
		<div class="col-lg-12">
			<label>Staff Assign</label> <button class="btn btn-info float-lg-right" ng-click="app.staff_assign.add(this)" ng-disabled="controls.ok.btn" style="margin-bottom: 10px;"><i class="icon-plus3"></i></button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group" ng-repeat="dt in doc_type.staff_assign">
				<div class="input-group">
				<span class="input-group-addon"><i class="icon-user"></i></span>
					<select class="form-control square" name="staff_id{{index}}" ng-model="dt.staff_id" ng-options="staff_assign.fullname for staff_assign in staffs track by staff_assign.id" ng-disabled="controls.ok.btn"></select>
					<span class="input-group-addon" style="cursor: pointer;" ng-click="app.staff_assign.delete(this,dt)"><i class="icon-remove"></i></span>
				</div>
			</div>
		</div>
	</div>
</form>