<div class="row">
	<div class="col-md-6 col-sm-12 text-xs-center text-md-left">
		<p><span class="text-muted">Barcode:</span> <span class="text-bold-700">{{document.barcode}}</span></p>
		<p><span class="text-muted">Document Type: </span><span class="text-bold-700">{{document.doc_type.document_type}}</span></p>
		<p><span class="text-muted">Originating Office: </span><span class="text-bold-700">{{(document.other_origin==null)?document.origin.office:document.other_origin}}</span></p>
		<p><span class="text-muted">Subject: </span><span class="text-bold-700">{{document.doc_name}}</span></p>							
	</div>
	<div class="col-md-6 col-sm-12 text-xs-center text-md-left">
		<p><span class="text-muted">Communication: </span><span class="text-bold-700">{{document.communication.communication}}</span></p>
		<p><span class="text-muted">Transaction: </span><span class="text-bold-700"> {{document.document_transaction_type.transaction}} ({{document.document_transaction_type.days}} working days)</span></p>
		<p><span class="text-muted">Date:</span> <span class="text-bold-700">{{document.document_date}}</span></p>
		<p><span class="text-muted">Due Date:</span> <span class="text-bold-700">{{document.due_date}}</span></p>							
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 text-xs-center text-md-left">
		<p><span class="text-muted">Remarks: </span><span class="text-bold-700">{{document.remarks}}</span></p>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
	<hr>
		<div class="card text-white bg-success">
			<div class="card-header">
				<h4 class="card-title">Tracks</h4>
				<a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
				<div class="heading-elements">
					<ul class="list-inline mb-0">
						<li><a data-action="reload"><i class="icon-reload"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="card-body collapse in">
				<div class="card-block">
					<div class="timeline-centered">
						<article class="timeline-entry" ng-repeat="track in document.tracks">							
							<div class="timeline-entry-inner">
								<time class="timeline-time" datetime="" style="margin-left: -35px!important;"><span>{{track.track_time}}</span><span>{{track.track_date}}</span></time>
								<div class="timeline-icon {{track.bg}}"><i class="{{track.icon}}"></i></div>
								<div class="timeline-label">
									<!-- <h2 ng-repeat="l in track.list">{{l.status}}</h2> -->
									<h2 ng-repeat="l in track.list" ng-bind-html="l.status"></h2>
								</div>
							</div>
						</article>
					</div>			
				</div>
			</div>
		</div>	
	</div>
</div>