  <li class="dropdown-menu-header">
	<h6 class="dropdown-header m-0">
		<span class="grey darken-2">Notifications</span>
		<span class="notification-tag tag tag-default tag-danger float-xs-right m-0" ng-show="notifications.length>0">{{notifications.length}} New</span>
	</h6>
  </li>
  <li class="list-group scrollable-container" style="overflow-y: scroll;">
	<a ng-repeat="n in notifications" ng-click="notificationAction(this,n)" class="list-group-item">
	  <div class="media">
		<div class="media-left valign-middle"><i class="{{n.icon}} {{n.icon_bg}} {{n.icon_color}}"></i></div>
		<div class="media-body">
		  <h6 class="media-heading {{n.header_color}}">{{n.header}}&nbsp;&nbsp;<span ng-show="n.is_rush" class="tag tag-pill tag-danger">RUSH</span></h6>
		  <p class="notification-text font-small-3 text-muted" ng-bind-html="n.message" style="line-height: 20px;"></p>
		  <small><time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">{{n.ago}}</time></small>
		</div>
	  </div>
	</a>
  </li>
  <li class="dropdown-menu-footer">
	<a href="/notifications-page.php" class="dropdown-item text-muted text-xs-center" ng-show="notifications.length>0">See all notifications</a>
	<span class="dropdown-item text-muted text-xs-center" ng-show="notifications.length==0">No notifications</span>
  </li>  